.match {
    display: flex;
    flex-flow: row wrap;
}

.match-title {
    width: 100%;
    text-transform: uppercase;
    text-align: center;
}

.team {
    width: 50%;
}

.team-title {
    display: block;
    text-align: center;
}