.main {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.title {
  font-size: 40px;
  color: black;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.archive {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  padding: 30px;
  background: lightgrey;
}